.correctAnswer {
	z-index: 11;
	animation: correct 0.7s linear;
}
.wrongAnswer {
	z-index: 11;
	animation: wrong 0.7s linear;
}

@keyframes correct {
	0% {
		transform: translateY(0) rotate(0) translateX(0);
		z-index: 11;
	}
	60% {
		transform: translateY(-40px) rotate(10deg) translateX(10%);
		opacity: 1;
	}
	100% {
		transform: translateY(-40px) rotate(0deg) translateX(100%);
		opacity: 0;
		z-index: 0;
	}
}

@keyframes wrong {
	0% {
		transform: translateY(0) rotate(0) translateX(0);
		z-index: 11;
	}
	60% {
		transform: translateY(-40px) rotate(-10deg) translateX(-10%);
		opacity: 1;
	}
	100% {
		transform: translateY(-40px) rotate(0deg) translateX(-100%);
		opacity: 0;
		z-index: 0;
	}
}
.showCard {
	display: block !important;
}
