.homeHeader {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 2rem 0 2rem;
	height: 100%;
	gap: 5rem;
}
.contentArea {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 1162px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}
.card {
	height: 300px;
	flex: 1 1 300px;
	cursor: pointer;
	transition: all 0.1s;
	border-radius: 10px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.createCard {
	border: 2px dashed white;
}

.card:hover {
	scale: 1.02;
	box-shadow: 0 0 10px rgb(255, 254, 254);
}
.card:active {
	scale: 0.98;
}
.cardBackground0 {
	background-image: linear-gradient(
		135deg,
		hsl(197, 94%, 55%),
		hsl(197, 100%, 48%)
	);
}
.cardBackground1 {
	background-image: linear-gradient(
		135deg,
		hsl(268, 47%, 59%),
		hsl(267, 47%, 52%)
	);
}
.cardBackground2 {
	background-image: linear-gradient(
		135deg,
		hsl(171, 99%, 42%),
		hsl(169, 100%, 40%)
	);
}
.cardBackground3 {
	background-image: linear-gradient(
		135deg,
		hsl(358, 86%, 70%),
		hsl(358, 84%, 65%)
	);
}
.cardBackground4 {
	background-image: linear-gradient(
		135deg,
		hsl(130, 53%, 56%),
		hsl(131, 56%, 50%)
	);
}
.cardBackground5 {
	background-image: linear-gradient(
		135deg,
		hsl(48, 84%, 57%),
		hsl(49, 100%, 46%)
	);
}

.cardBackground6 {
	background-image: linear-gradient(
		135deg,
		hsl(225, 53%, 57%),
		hsl(225, 52%, 50%)
	);
}
.cardBackground7 {
	background-image: linear-gradient(
		135deg,
		hsl(277, 69%, 71%),
		hsl(277, 66%, 67%)
	);
}
.cardBackground8 {
	background-image: linear-gradient(
		135deg,
		hsl(318, 84%, 77%),
		hsl(319, 86%, 74%)
	);
}
