.container {
	height: 4.75rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem 1rem 2rem;
	align-items: center;
}
.title {
	text-transform: capitalize;
	font-size: larger;
}
.signInBtn {
	border: 1px solid white;
	border-radius: 6px;
	padding: 4px 6px 4px 6px;
}
